In [51]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor
from sklearn.metrics import r2_score , mean_absolute_error 
from sklearn.model_selection import cross_val_score

In [52]:
df = pd.read_csv('flight_transformed_final.csv')

In [53]:
df.head()

,scale__days_left,stops_oe__stops,arrival_time_oe__arrival_time,class_oe__class,departure_time_oe__departure_time,OHE__airline_Air_India,OHE__airline_GO_FIRST,OHE__airline_Indigo,OHE__airline_SpiceJet,OHE__airline_Vistara,...,OHE__source_city_Hyderabad,OHE__source_city_Kolkata,OHE__source_city_Mumbai,OHE__destination_city_Chennai,OHE__destination_city_Delhi,OHE__destination_city_Hyderabad,OHE__destination_city_Kolkata,OHE__destination_city_Mumbai,remainder__duration,price
0,-1.855569,0.0,4.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.17,5953
1,-1.855569,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.33,5953
2,-1.855569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.17,5956
3,-1.855569,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.25,5955
4,-1.855569,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.33,5955

In [54]:
X = df.drop("price", axis=1)
y = df["price"]

In [55]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [56]:
pipe_lr = Pipeline([
    ("model", LinearRegression())
])

pipe_dtr = Pipeline([
    
    ("model", DecisionTreeRegressor())
])

pipe_rfr = Pipeline([
    
    ("model", RandomForestRegressor(n_jobs = -1))
])

pipe_svm = Pipeline([
    
    ("model", SVR())
])

pipe_xgb = Pipeline([
    
    ("model", XGBRegressor(n_jobs = -1))
])

In [57]:
models = {
    "LR": pipe_lr,
    "DTR": pipe_dtr,
    "RFR": pipe_rfr,
    "XGBR": pipe_xgb
}

for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print( name, r2_score(y_test, y_pred))

LR 0.91945402258093
DTR 0.9837406932244258
RFR 0.9896356439054608
XGBR 0.9798357486724854